<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - EduNet</title>
    <link rel="stylesheet" href="/styles/home.css"> <!-- css ref link styyle -->
</head>
<body>
    <!-- Header-->
    <header>
        <div class="logo">
            <h1>EduNet</h1> <!-- APP name-->
        </div>
        <nav>
            <ul>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- hero section as a small description -->
    <section class="hero">
        <div class="hero-content">
            <h2>Welcome to EduNet</h2>
            <p>here you can get the knowledge of the world and skill building on our online university, see our courses and what you want to do with your future.</p>
        </div>
    </section>

    <!-- features dection -->
    <section class="features">
        <h3>What We Offer</h3>
        <div class="feature">
            <h4>Wide Range of Courses</h4>
            <p>From programming to digital marketing, learn what you need to grow.</p>
        </div>
        <div class="feature">
            <h4>Expert Instructors</h4>
            <p>Courses designed and taught by industry professionals.</p>
        </div>
        <div class="feature">
            <h4>Flexible Learning</h4>
            <p>Learn anytime, anywhere, and at your own pace.</p>
        </div>
    </section>

        <!-- Register page -->
    <section>
        <h2>Your Education start here!</h2>
        <p>Explore all courses and expand your knowlesge!</p>
        <!-- Register Button -->
        <a href="/register" class="btn-register">Register Now</a>
    </section>

    <!-- footer -->
    <footer>
        <p> 2024 EduNet. all rights reserved.</p>
        <p> privacy policy | terms of service </p>
    </footer>
</body>
</html>
